<!DOCTYPE html>
<html>
<body>
<h3>Studentler:</h3>
  <h3>Student goş</h3>

<input id="name" placeholder="Ady">
<input id="group" placeholder="Topary">
<button onclick="addStudent()">Goş</button>

<br><br> 
  <h4 id="count">Geldi: 0</h4>
<ul id="studentList"></ul>
<ul id="studentList"></ul>

<script>
async function loadStudents() {
    const res = await fetch("/api/students");
    const data = await res.json();

    const list = document.getElementById("studentList");

    data.students.forEach(s => {
    const li = document.createElement("li");
    li.textContent = s.name + " (" + s.group + ") ";
const savedStatus = localStorage.getItem(s.name);

if (savedStatus === "yes") {
    li.style.color = "green";
}
if (savedStatus === "no") {
    li.style.color = "red";
}
    const btnYes = document.createElement("button");
btnYes.textContent = "Geldi";
btnYes.onclick = () => {
    li.style.color = "green";
    localStorage.setItem(s.name, "yes");
};

const btnNo = document.createElement("button");
btnNo.textContent = "Gelmedi";
btnNo.onclick = () => {
    li.style.color = "red";
    localStorage.setItem(s.name, "no");
};
li.appendChild(btnYes);
li.appendChild(btnNo);
list.appendChild(li);
});
}

loadStudents();
    async function addStudent() {
    const name = document.getElementById("name").value;
    const group = document.getElementById("group").value;

    const li = document.createElement("li");
    li.textContent = name + " (" + group + ")";
    document.getElementById("studentList").appendChild(li);
}
</script>

</body>
</html>








